<div class="card ms-4 bg-success text-light" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Aakash Khadka</h5>
        <h6 class="card-subtitle mb-2 text-light">Deputy Mayor</h6>
        <br>
        <h6 class="card-subtitle d-flex justify-content-between align-items-center mb-2 text-light">Present <span class=""><i class="fas fa-toggle-on fs-2"></i></span></h6>

    </div>
</div>

