<div class="card m-4">
    <div class="card-body">
 
        <h6 class="card-title">
            If you have an account with us, we have sent an email
            with the instructions to reset your password.
        </h6>
</div>
</div>