
@{
    ViewData["Title"] = "RegistrationSucessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@ViewBag.Message



<div class="row">
    <div class="col-12 col-lg-6 ">
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title ">
                    <div class="row">
                        <div class="col-12 col-lg-6 ">
                            <div class="card mt-4">
                                <div class="card-body">
                                    <h5 class="card-title ">No Officers available to provide service.</h5>
                                    <h6 class="card-body">Your email might get delivered on promotion section </h6>


                                </div>
                            </div>
                        </div>

                    </div>.
                </h5>
                <h6 class="card-body"> Please try after 10:15 AM</h6>


            </div>
        </div>
    </div>

</div>