
@{
    ViewData["Title"] = "RegistrationSucessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RegistrationSucessful</h1>

@ViewBag.Message


<h5>Note:Your email might get delivered on promotion section</h5>
