
<div class="card m-4">
    <div class="card-body">

        <h6 class="card-title">
            Your password is reset. Please click <a asp-action="Login">here to login</a>
        </h6>
    </div>
</div>