@model IEnumerable<IdentityRole> 
@{
    ViewData["Title"] = "ListRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListRole</h1>
<a class="dropdown-item" asp-controller="Administration" asp-action="CreateRole" style="z-index:999"> Create Role</a>

@if (Model.Any())
{
    foreach(var role in Model)
    {
        @role.Id;
        @role.Name;<br />
    }
}
else
{
    <p>Not found</p>
    <p>create</p>
}

