@inject RoleManager<IdentityRole> roleManager
@model smartpalika.Models.AppointmentUserDetails

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>

<div class="container">

    <hr />
    <div class="row">
        <div class="col-6">

            <div  >
                <form asp-action="Detail">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" hidden />
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" disabled />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" disabled />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" disabled />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" disabled />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceType" class="control-label"></label>
                        <input asp-for="ServiceType" class="form-control" disabled />
                        <span asp-validation-for="ServiceType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" disabled />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="priority" class="control-label"></label>
                        <input asp-for="priority" class="form-control" disabled />
                        <span asp-validation-for="priority" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Time" class="control-label"></label>
                        <input asp-for="Time" class="form-control" disabled />
                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Provider" class="control-label"></label>
                        <input asp-for="Provider" class="form-control" disabled />
                        <span asp-validation-for="Provider" class="text-danger"></span>
                    </div>
                    @if (Model.isAvailable == false)
                    {
                        <h6>Please check the box to show your availability</h6>
                    }
                    else
                    {
                        <h5>Please uncheck to remove your availability</h5>
                    }
                    <div class="form-group form-check">

                        <input class="form-check-input " style="width: 5vw; height: 5vh;" asp-for="isAvailable" />

                    </div>
                    <br /><br /><br />
                    <div class="form-group">
                        <input type="submit" value="Change" class="btn btn-primary" />
                    </div>
                </form>
                <a asp-action="Index">Back to List</a>
            </div>


        </div>
        <div class="col-6">

            <div class="container">
                @if (User.IsInRole("Employee"))
                {
                    <div class="d-none d-lg-block card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">For Employees Only</h5>

                            <h5 class="card-subtitle mb-2 text-muted">Please click the button to call citizen to office</h5>
                            <a asp-action="NotifyCitizen" asp-route-name="@Model.Name" asp-route-time="@Model.Time" asp-route-email="@Model.Email" class="btn btn-outline-danger">Click Here</a>
                            
                        </div>
                    </div>
                }
            else
            {

            }
                </div>
                       


        </div>

    </div>
</div>
            