@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (!User.Identity.IsAuthenticated)
    {

        <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Register</a>
        <br />
        <span class="fs-1">Already a user?<a asp-controller="Account" asp-action="Login">signin</a></span>

    }
</div>