<div class="container-fluid pt-4 mt-4">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="card" style="width: ;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Total Appointments</h6>
                    <h1 class="card-title display-5 mb-0 pb-0 " style="color: #5e60ce;">5</h1>
                    <p class="card-text mt-0 pt-0"><small>Write something</small></p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="card" style="width: ;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Pending Appointments</h6>
                    <h1 class=" card-title display-5 mb-0 pb-0" style="color: #fe4a4b ">3</h1>
                    <p class="card-text mt-0 pt-0"><small>Write something</small></p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="card" style="width:;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Available Citizens</h6>
                    <h1 class="card-title display-5 mb-0 pb-0 " style="color: #38b000aa;">1</h1>
                    <p class="card-text mt-0 pt-0"><small>Write something</small></p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="card" style="width:;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Total Appointments</h6>
                    <h1 class="card-title display-5 mb-0 pb-0 " style="color: #5e60ce;">05</h1>
                    <p class="card-text mt-0 pt-0"><small>Write something</small></p>
                </div>
            </div>
        </div>
    </div>
</div>