@model List<smartpalika.Models.UserAttendanceVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex flex-wrap justify-content-start mt-2">

    @foreach (var obj in Model)
    {
    <partial name="_PresentInfoCard" for="@obj" />
    
    }
</div>

@*<h1 class="text-secondary fs-4 mt-2 ps-4">Employee Availability</h1><hr class="ms-4" />

    @{var aakash_count = Model.Where(s => s.Uid == 0).Count(); }
    @{var sudeep_count = Model.Where(s => s.Uid == 1).Count(); }
    @{var vishal_count = Model.Where(s => s.Uid == 2).Count(); }


    <div class="d-flex justify-content-start p-0 mt-4 " >

        @if (aakash_count % 2 == 1)
        {
            <partial name="_AakashPresent" />
        }
        else
        {

            <div class="card ml-4 bg-danger text-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Aakash Khadka</h5>
                    <p  class="card-subtitle mb-2 text-light fs-6">Deputy Mayor</p>
                    <br>
                    <h6 class="card-subtitle d-flex justify-content-between align-items-center mb-2 text-light">Absent <span class=""><i class="fas fa-toggle-on fs-2"></i></span></h6>

                </div>
            </div>
        }


        @if (sudeep_count % 2 == 1)
        {
            <div class="card ml-4 bg-success text-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Sudeep Kharel</h5>
                    <h6 class="card-subtitle mb-2 text-light">Deputy Mayor</h6>
                    <br>
                    <h6 class="card-subtitle d-flex justify-content-between align-items-center mb-2 text-light">Present <span class=""><i class="fas fa-toggle-on fs-2"></i></span></h6>

                </div>
            </div>
        }
        else
        {

            <div class="card ml-4 bg-danger text-light " style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Sudeep Kharel</h5>
                    <h6 class="card-subtitle mb-2 text-light">Deputy Mayor</h6>
                    <br>
                    <h6 class="card-subtitle d-flex justify-content-between align-items-center mb-2 text-light">Absent <span class=""><i class="fas fa-toggle-on fs-2"></i></span></h6>

                </div>
            </div>
        }


        @if (vishal_count % 2 == 1)
        {
            <div class="card ml-4 bg-success text-light " style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Vishal Purkuti</h5>
                    <h6 class="card-subtitle mb-2 text-light">Deputy Mayor</h6>
                    <br>
                    <h6 class="card-subtitle d-flex justify-content-between align-items-center mb-2 text-light">Present <span class=""><i class="fas fa-toggle-on fs-2"></i></span></h6>

                </div>
            </div>
        }
        else
        {

            <div class="card ml-4 bg-danger text-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Vishal Purkuti</h5>
                    <h6 class="card-subtitle mb-2 text-light">Deputy Mayor</h6>
                    <br>
                    <h6 class="card-subtitle d-flex justify-content-between align-items-center mb-2 text-light">Absent <span class=""><i class="fas fa-toggle-on fs-2"></i></span></h6>

                </div>
            </div>
        }*@



<!--</div>-->