:root {
    --bs-primary: #5e60ce;
    --bs-white: #ffffff;
    --bs-absent: #ea4235;
    --bs-present: #38b000;
    --bs-presentTint: #38b00080;
    --bs-absentTint: #fe4a4a;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
    background: #f9fafe !important;
}
.btn-primary {
    background: var(--bs-primary) !important;
}
.text-primary {
    color: var(--bs-primary) !important;
}
.bg_primary {
background:var(--bs-primary) !important;
}
.wrapper {
    max-width: 1768px;
    margin: 0 auto;
}

.main_nav {
    /*background-color: var(--bs-blue);*/
    background: rgb(94,96,192);
    background: linear-gradient(69deg, rgba(94,96,192,1) 0%, rgba(137,139,255,1) 100%);
    color: #383838 !important;
    font-size: 1.2rem;
    box-sizing: border-box !important;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.content_area .right {
    padding: 0;
}

.main_nav a, .main_nav .nav-link a {
    color: white;
}

.main_nav .dropdown-menu a {
    color: #383838;
}

.main_nav .badge {
    display: none;
}

.sidebar_main {
    border-right: 1px solid #EBEDF3;
    font-weight: bolder;
    height: calc(100vh - 62px);
    min-width: 300px;
    background: white;

}
/*https://ibb.co/K5Mgs05*/
.login_container {
    background: url("https://i.ibb.co/9pF048p/bb.jpg");
    background-size: cover;
    background-position: top;
    height: calc(100vh - 62px);
    width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;
}
.bg_overlay {
    height: calc(100vh - 62px);
    width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;
    background: rgb(255,255,255);
    background: linear-gradient(317deg, rgba(255,255,255,0.6194852941176471) 0%, rgba(255,255,255,0.6278886554621849) 100%);
}

.sidebar_main a {
    color: #3f4254;
    font-weight: 500;
}

.sidebar_main .active {
    background: var(--bs-primary);
    color: var(--bs-white)
}
.login_title {
    color: var(--bs-primary) !important;
}
.btn_md {
    font-size: 1.3rem;
}

.text-dark {
    color: #1e1a2a !important;
}

.box_shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn_lg {
    font-size: 1.5rem !important;
    color: #f75062;
}

.present {
    color: var(--bs-presentTint);
}
.absent {
    color:var(--bs-absent);
}

.status_card {
    max-width: 250px !important;
    min-width: 250px !important;
    background: white;
    overflow-x:hidden;
   
}
.present_status {
    border-left: 6px solid var(--bs-presentTint) !important;
    border-radius: 5px;
}
.absent_status {
    border-left: 6px solid var(--bs-absentTint);
    border-radius: 5px;
}

.profile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
}
.file {
    opacity: 1;
    width: auto;
 
    position: absolute;
    font-size:1rem;

}
.bg_white {
    background:#ffffffcc !important;
}
.f_m {
    font-size: 1.3rem;
    color:var(--bs-primary)
}
.f_m:hover {
    background: #5e60ce90;
    color:white !important;
}

.time_slot {
    background: #5e60ce90 !important;

    min-width: 100px;
    max-width: 100px !important;
}
.appointment_detail input {
    border: 0px solid white !important;
    background: none !important;
}
.login_form {
    
    width:50% !important;
}
.notification_count{
    display:none !important;
}

/*Customized CSS*/
.red {
    color: #fe4a4b !important;
}
@media only screen and (max-width: 500px) {
    .login_form {
        width: 100% !important;
    }

}