:root {
    --bs-blue: #5e60ce;
    --bs-white: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}
.btn-primary {
    background: var(--bs-blue) !important;
}
.text-primary {
    color: var(--bs-blue) !important;
}
.wrapper {
    max-width: 1768px;
    margin: 0 auto;
}

.main_nav {
    /*background-color: var(--bs-blue);*/
    background: rgb(94,96,192);
    background: linear-gradient(69deg, rgba(94,96,192,1) 0%, rgba(137,139,255,1) 100%);
    color: #383838 !important;
    font-size: 1.2rem;
    box-sizing: border-box !important;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.content_area .right {
    padding: 0;
}

.main_nav a, .main_nav .nav-link a {
    color: white;
}

.main_nav .dropdown-menu a {
    color: #383838;
}

.main_nav .badge {
    display: none;
}

.sidebar_main {
    -webkit-box-shadow: 2px 0px 0px 0px #e8ecef;
    box-shadow: 2px 0px 0px 0px #e8ecef;
    font-weight: bolder;
    height: calc(100vh - 70px);
    min-width: 200px;
}

    .sidebar_main a {
        color: black;
        font-weight: 500;
    }

    .sidebar_main .active {
        background: var(--bs-blue);
        color: var(--bs-white)
    }

.btn_md {
font-size:1.3rem;
}